<h1>Hello, world!</h1>
<p>{{ message }}</p>
<section>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row mb-3 flex row-centro ">

      <div class="col-md-1 col-xs-6">
        <span>Origen</span>
      </div>
      <div class="col-md-2 col-xs-6">
       
        <input autocomplete="off" class="form-control" formControlName="origin" placeholder="Origen"
        maxlength="3" (blur)="comparoCampos()" (keyup)="onKeyup($event)"  />

      </div>
      <div class="col-md-1 col-xs-6">
        <span>Destino</span>
      </div>
      <div class="col-md-2 col-xs-6 text-left">
        <input autocomplete="off" class="form-control" formControlName="destination" placeholder="Destination"
        maxlength="3" (blur)="comparoCampos()" (keyup)="onKeyup($event)"  />
      </div>
      <div class="col-md-2 col-xs-6">
        <select class="form-control" formControlName="roundtrip" placeholder="Destino" maxlength="11">
          <option value="false" selected="selected">Ida </option>
          <option value="true">Ida y Vuelta</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="text-end col-12">
        <button  type="submit" class="btn btn-success" [disabled]="form.invalid || same ">
          Consultar
        </button>
      </div>
    </div>
    <section>

      <div class="card ">
        <div class="card-body ">
          <h3 class="activities-sidbar text-center ">Recorridos</h3>
        </div>
        <div class="table-responsive ">


          <table class="table ">
            <thead>
              <tr>
                <th>Ida o Vuelta</th>
                <th>Origen</th>
                <th>Destino</th>
                <th>Precio</th>


              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let journey of journeys">
             

              <tr>
                <td> {{journey.isReturn ? 'Ida y Vuelta' : 'Id' }}</td>
                <td>{{journey.origin}}</td>
                <td>{{journey.destination}}</td>
                <td>{{journey.price}}</td>
          
                <td colspan="4">
                 
                  <table class="table ">
                    <thead >
                      <tr>
                        <th>Origen Vuelo</th>
                        <th>Destino Vuelo </th>
                        <th>Numero de Vuelo</th>
                        <th>Precio vuleo</th>


                      </tr>
                    </thead>
                    <tbody>

                      <tr *ngFor="let flight of journey.flights" style="cursor:pointer ">

                        <td>{{flight.origin}}</td>
                        <td>{{flight.destination}}</td>
                        <td>{{flight.transport.flightNumber}}</td>
                        <td>{{flight.price}}</td>

                      </tr>

                    </tbody>

                  </table>

                </td>
              </tr>
              </ng-container>

            </tbody>

          </table>
        </div>
        <!-- <mat-paginator [length]="page.TotalItems " [pageSize]="page.ItemsPorPagina " [pageSizeOptions]="pageSizeOptions "
            [pageIndex]="this.page.PaginaActual " aria-label="Select page ">
          </mat-paginator> -->
      </div>

    </section>


  </form>
</section>